.cardContainer{


    border-radius: 3%;
    height:200px;
    width:250px;
    position:centre;
    margin-top:40px;
    margin-left: 80px;
    cursor: pointer;
    background-color: aliceblue;
    //box-shadow: 5px 10px #888888;
    box-shadow: 5px 10px;
    //box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    //box-shadow: 5px 10px inset;

    .imgContainer{
        width: 250px;
        height: 130px;
    }
    .title{
        font-weight: bold;
        margin-left: 8px;
        margin-bottom: 3px;
    }
    .descript{
        margin-top: -10px;
        margin-left: 8px
    }

}


