
<app-header-bar Title="programs" (back)="backClick()"></app-header-bar>
<mat-drawer-container>

    <app-ru-tabs [items]="tabItems" (valueChange)="changeTab($event)"></app-ru-tabs>


    <app-ru-table tableTitle="programs" totalTableDataCount="0" [showFilter]="true" [showupload]="true"
        [download]="true"  [showSearch]="true" [header]="headers" [tableData]="tabledata" (onrowClickd)="rowClick()" (advanceClickd)="filterClick()"></app-ru-table>


    <mat-drawer #drawer class="sidenav" mode="over" position="end">

        <app-advfilter [sidenavContainer]="sidenavContainer"></app-advfilter>

    </mat-drawer>
   
    <mat-sidenav #sidenav class="example-sidenav" mode="over" position="end">

    <app-program-details [sidenav]="sidenav"></app-program-details>


   </mat-sidenav>



</mat-drawer-container>