<div class="dataCardContainer">

    <div class="cardHeader" fxLayout="row">
        <span class="cardTitle">
            <strong class="text-nowrap bg-light border" style="width: 8rem;">{{tableTitle}}
                ({{totalTableDataCount}})</strong>
        </span>
        <div fxLayout="row">
            <div style="cursor:pointer;" fxLayout="row" (click)="advanceClick()">
                <div class="advFilter" *ngIf="showFilter">Advanced Filter
                    <img src="./assets/filter.png" class="filterIcon">
                </div>
            </div>

            <div class="bulkupload" *ngIf="showupload">BulkUpload</div>
            <div class="download" *ngIf="download">Download</div>
            <img src="./assets/collapse_icon.png" alt="close" class="pointerIcon" *ngIf="showicon">

        </div>
    </div>

    <div>

    </div>



    <table class="table table-striped table-bordered">
        <tbody class="table-group-divider">
            <tr>
    
                <th *ngFor="let column of header" class="tableheader">
                    {{ column }}
                </th>
            </tr>
        <tbody class="table-group-divider">
    
    
            <tr *ngFor="let data of tableData">
                <td *ngFor="let column of header " class="tabledata" (click)="onrowClick()">
                    {{ data[column] }}
    
    
                </td>
    
            </tr>
    
            
    </table>


</div>