.header {
    height: 50px;
    width: 1528px;
    position: centre;
    // margin-top:20px;
    // margin-left: 80px;
    cursor: pointer;
    background-color: beige;
    font-weight: bold;
    font-size: 30px;

}


.back-icon {
    width: 70px;
    height: 50px;
    margin-right: 20px;
}